# Sistema operativo
.DS_Store
Thumbs.db
Desktop.ini

# Editores e IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dependencias
node_modules/

# Logs
*.log
npm-debug.log*

# Archivos temporales
*.tmp
*.temp

# Kiro
.kiro/
